<h1> About us </h1>
<p> Working on my rails test app. <p>
<div class="BackgroundImage Module inspiredSearchBackgroundContainer active animate_background" style="background-color: rgb(223, 209, 192);">
    

<div class="background fade loaded" style="background-image: url(https://s-passets-cache-ak0.pinimg.com/webapp/style/app/common/images/inspired-desktop/bg_travel_grid.80354681.jpg); background-color: rgb(223, 209, 192);">
    <img class="holderImage" src="https://s-passets-cache-ak0.pinimg.com/webapp/style/app/common/images/inspired-desktop/bg_travel_grid.80354681.jpg">
</div>
</div>
	